<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="MarathonEntities" connectionString="metadata=res://*/Entities.Context.csdl|res://*/Entities.Context.ssdl|res://*/Entities.Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OE4PBCI\SQLEXPRESS;initial catalog=Marathon1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>